<footer *ngIf="constants" class="footer container-fluid">
    <div class="footer-social">
        <a (click)="analytics.trackEvent('facebook-footer', 'click on footer Facebook button','social')" href="{{constants.facebook}}" target="_blank">
            <fa-icon [icon]="Icons.faFacebookF"></fa-icon>
        </a>
         <a (click)="analytics.trackEvent('instagram-footer', 'click on footer Instagram button','social')" href="{{constants.instagram}}" target="_blank">
            <fa-icon [icon]="Icons.faInstagram"></fa-icon>
        </a>
    </div>
    <div class="orari">
        <app-orari ngSkipHydration></app-orari>
    </div>
    <div class="row justify-content-center footer-contacts">
        <h3 class="col-10">Contatti:</h3>
        <ul class="col-10">
            <li>
                <a (click)="analytics.trackEvent('email-footer', 'click on footer email button','contact')" href="mailto:{{constants.email}}" target="_blank">
                    <span appIcons>
                        <fa-icon [icon]="Icons.faEnvelope"></fa-icon>
                    </span>
                    email: {{constants.email}}
                </a>
            </li>
            <li>
                <a (click)="analytics.trackEvent('telefono-footer', 'click on footer phone button','contact')" href="tel:{{constants.phone}}" target="_blank">
                    <span appIcons>
                        <fa-icon [icon]="Icons.faPhone"></fa-icon>
                    </span>
                    telefono: {{constants.phone}}
                </a>
            </li>
            <li>
                <a (click)="analytics.trackEvent('whatsapp-footer', 'click on footer whatsapp button','contact')" href="https://wa.me/{{constants.whatsapp}}" target="_blank">
                    <span appIcons>
                        <fa-icon [icon]="Icons.faWhatsapp"></fa-icon>
                    </span>
                    WhatsApp: {{constants.phone}}
                </a>
            </li>
            <li>
                <a [href]="constants.maps" target="_blank">
                    <span appIcons>
                        <fa-icon [icon]="Icons.faMapLocationDot"></fa-icon>
                    </span>
                    indirizzo: {{constants.address}}
                </a>
            </li>
        </ul>
    </div>
    <div class="copyright row" fxFlex="100" fxLayoutAlign="center center">
        <p><a target="_blank" routerLink="/privacy-policy">Informativa sulla Privacy</a></p>
        <p>Copyright © {{date|date:'YYYY'}} {{constants.site_name}}. Tutti i
            diritti riservati. <br> Designed by Smartlab</p>
    </div>
</footer>