<h2 mat-dialog-title class="mb-4">Crea Operatore</h2>
<div class="container">
  <mat-dialog-content >
      <form (ngSubmit)="onSubmit()" #operatoreForm="ngForm">
        <!-- Nome -->
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" [(ngModel)]="operatore.nome" name="nome" required />
        </mat-form-field>
  
        <!-- Tipo -->
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="operatore.tipo" name="tipo" required>
            <mat-option *ngFor="let tipo of tipiOperatori" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Descrizione breve -->
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label>Descrizione Breve</mat-label>
          <textarea matInput rows="2" [(ngModel)]="operatore.descrizione_breve" name="descrizione_breve"></textarea>
        </mat-form-field>
  
        <!-- Descrizione -->
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label>Descrizione</mat-label>
          <textarea matInput rows="4" [(ngModel)]="operatore.descrizione" name="descrizione"></textarea>
        </mat-form-field>
  
        <!-- Immagine -->
        <div class="mb-3">
          <label for="immagine" class="form-label">Immagine</label>
          <input type="file" class="form-control" id="immagine" (change)="onFileSelected($event)" />
        </div>
  
        <!-- Pulsanti -->
        <div class="d-flex justify-content-between mt-4">
          <button mat-raised-button color="primary" type="submit" [disabled]="!operatoreForm.valid">Salva</button>
          <button mat-raised-button color="warn" type="button" (click)="onCancel()">Annulla</button>
        </div>
      </form>
  </mat-dialog-content>
</div>