.container-fluid {
  overflow: auto;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
  button{
    color: #fff;
  }
}

button {
  margin-right: 8px;
}
td{
  .image{
    height: 50px;
  }
}

.barra-admin{
    height: 100px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}