.skill{
    text-align: center;
    color: #aaa;

    .icon{
        fa-icon{
            font-size: 5rem;
            color: var(--primary);
        }
    }

    .nome{
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        color: #777;
    }
    .descrizione{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}