<div class="content no-cover text">
    <div class="row justify-content-center">
        <h1>Privacy Policy</h1>
        <div class="col-12 col-sm-6">
            <p>I dati personali dell'utente sono utilizzati da Smartlab di Matteo Corvino, che ne è titolare per il trattamento,
                nel rispetto dei principi di protezione dei dati personali stabiliti dal Regolamento GDPR 2016/679.</p>
            <p>&nbsp;</p>
            <p>MODALITÀ E FINALITÀ DEL TRATTAMENTO DATI</p>
            <p>1. 1) La informiamo che i dati verranno trattati con il supporto dei seguenti mezzi:</p>
            <p>a. a) Cartacei (moduli di registrazione, moduli d'ordine, ecc.)</p>
            <p>b. b) Informatici (software gestionali, contabili, ecc.)</p>
            <p>c. c) Telematici</p>
            <p>&nbsp;</p>
            <p>con le seguenti finalità:</p>
            <p>- erogazione dei servizi richiesti dal Cliente o disponibili su portali gestiti da (selezione del personale,
                newsletter, materiale informativo, materiale omaggio) nonché conclusione del contratto di cui è parte
                l'interessato;</p>
            <p>- fini amministrativi e contabili correlati ai contratti di servizio;</p>
            <p>&nbsp;</p>
            <p>L'eventuale rifiuto nel consentire il trattamento dei dati comporta l'impossibilità di usufruire del servizio
                richiesto dall'utente.</p>
            <p>&nbsp;</p>
            <p>Fatto salvo esplicito diniego comunicato anche successivamente o comunicato al momento della consegna dei dati,
                il mancato diniego scritto conferisce autorizzazione al trattamento, da parte dell'interessato, i dati
                dell'utente saranno trattati anche per le seguenti finalità:</p>
            <p>&nbsp;</p>
            <p>- invio di proposte e di comunicazioni commerciali a mezzo posta elettronica o SMS o fax, da parte sia di
                Smartlab di Matteo Corvino e sia di società partner;</p>
            <p>&nbsp;</p>
            <p>- indagini di mercato e statistiche, marketing e referenze su comunicazioni pubblicitarie (stampa, radio, TV,
                internet, ecc.), preferenze sui prodotti;</p>
            <p>&nbsp;</p>
            <p>BASE GIURIDICA</p>
            <p>&nbsp;</p>
            <p>1. 2) Il conferimento dei dati è obbligatorio per tutto quanto è richiesto dagli obblighi legali e contrattuali e
                pertanto l'eventuale rifiuto a fornirli in tutto o in parte può dar luogo all'impossibilità di fornire i servizi
                richiesti.</p>
            <p>La società tratta i dati facoltativi degli utenti in base al consenso, ossia mediante l'approvazione esplicita
                della presente policy privacy e in relazione alle modalità e finalità di seguito descritte.</p>
            <p>&nbsp;</p>
            <p>CATEGORIE DI DESTINATARI</p>
            <p>1. 3) Ferme restando le comunicazioni eseguite in adempimento di obblighi di legge e contrattuali, tutti i dati
                raccolti ed elaborati potranno essere comunicati esclusivamente per le finalità sopra specificate alle seguenti
                categorie di interessati:</p>
            <p>- Consulenti commerciali;</p>
            <p>- Contabili ed amministrativi;</p>
            <p>- Fornitori.</p>
            <p>&nbsp;</p>
            <p>PERIODO DI CONSERVAZIONE</p>
            <p>&nbsp;</p>
            <p>1. 4) I dati obbligatori ai fini contrattuali e contabili sono conservati per il tempo necessario allo
                svolgimento del rapporto commerciale e contabile.</p>
            <p>I dati di chi non acquista o usufruisce di prodotti/servizi, pur avendo avuto un precedente contatto con dei
                rappresentanti dell'azienda, saranno immediatamente cancellati o trattati in forma anonima, ove la loro
                conservazione non risulti altrimenti giustificata, salvo che sia stato acquisito validamente il consenso
                informato degli interessati relativo ad una successiva attività di promozione commerciale o ricerca di mercato.
            </p>
            <p>&nbsp;</p>
            <p>DIRITTI DELL'INTERESSATO</p>
            <p>1. 5) Ai sensi del Regolamento europeo 679/2016 (GDPR) e della normativa nazionale, l'interessato può, secondo le
                modalità e nei limiti previsti dalla vigente normativa, esercitare i seguenti diritti:</p>
            <p>&nbsp;</p>
            <p>- richiedere la conferma dell'esistenza di dati personali che lo riguardano (diritto di accesso);</p>
            <p>- conoscerne l'origine;</p>
            <p>- riceverne comunicazione intelligibile;</p>
            <p>- avere informazioni circa la logica, le modalità e le finalità del trattamento;</p>
            <p>- richiederne l'aggiornamento, la rettifica, l'integrazione, la cancellazione, la trasformazione in forma
                anonima, il blocco dei dati trattati in violazione di legge, ivi compresi quelli non più necessari al
                perseguimento degli scopi per i quali sono stati raccolti;</p>
            <p>- nei casi di trattamento basato su consenso, ricevere i propri dati forniti al titolare, in forma strutturata e
                leggibile da un elaboratore di dati e in un formato comunemente usato da un dispositivo elettronico;</p>
            <p>- il diritto di presentare un reclamo all'Autorità di controllo.</p>
            <p>&nbsp;</p>
            <p>Le richieste vanno rivolte al Titolare del trattamento.</p>
            <p>&nbsp;</p>
            <p>1. 6) Titolare del trattamento dei Suoi dati personali è Smartlab di Matteo Corvino, Strada Benelli 3/B,
                61010,Tavullia (PU)</p>
            <p>&nbsp;</p>
            <p>1. 7) La scrivente Società ha nominato quale DPO (Data Protection Officer) Matteo Corvino.</p>
            <p>&nbsp;</p>
            <p>Informazioni sui Cookies</p>
            <p>Cosa sono i cookies</p>
            <p>Un "cookie" è un file di testo salvato nel computer dell'utente nel momento in cui questo accede ad un sito web
                con lo scopo di fornire informazioni ogni volta che l'utente ritorna sullo stesso sito. È una sorta di
                promemoria della pagina internet visitata. Con il cookie, il server web invia informazioni al browser
                dell'utente (Internet Explorer, Mozilla Firefox, Google Chrome, ecc.) memorizzate sul computer di quest'ultimo,
                e saranno rilette ed aggiornate ogni qual volta l'utente ritornerà sul sito. In questo modo il sito Web può
                adattarsi automaticamente all'utente. Nel corso della navigazione l'utente potrebbe ricevere sul suo terminale
                anche cookie di siti diversi (cookies di "terze parti"), impostati direttamente da gestori di detti siti web e
                utilizzati per le finalità e secondo le modalità da questi definiti.</p>
            <p>In funzione della loro durata, si distinguono in cookie di sessione (ossia quelli temporanei e cancellati
                automaticamente dal terminale al termine della sessione di navigazione, chiudendo il browser) ed in cookie
                persistenti (ossia quelli che restano memorizzati sul terminale fino alla loro scadenza o cancellazione da parte
                dell'utente). In base alla funzione e alla finalità di utilizzo, i cookie possono suddividersi in cookie tecnici
                e cookie di profilazione.</p>
            <p>&nbsp;</p>
            <p>Cookie tecnici</p>
            <p>Alcuni cookie sono usati per eseguire autenticazioni informatiche, monitoraggio di sessioni e memorizzazione di
                informazioni specifiche sugli utenti che accedono ad una pagina web. Questi</p>
            <p>cookie, cosiddetti tecnici, sono spesso utili per consentire di navigare in un sito web e utilizzarne tutte le
                funzionalità. I cookie tecnici sono quelli il cui utilizzo non richiede il consenso dell'utente.</p>
            <p>A questa categoria appartengono anche gli analytics cookie. Si tratta di cookie che raccolgono informazioni circa
                l'utilizzo che un utente fa di un sito web e che consentono di migliorarne il funzionamento. Ad esempio gli
                analytics cookie mostrano quali sono le pagine più frequentemente visitate, consentono di verificare quali sono
                gli schemi ricorrenti d'utilizzo di un sito web e aiutano a comprendere ogni difficoltà che l'utente incontra
                nell'utilizzo.</p>
            <p>&nbsp;</p>
            <p>Cookie di profilazione</p>
            <p>Altri cookie possono invece essere utilizzati per monitorare e profilare gli utenti durante la navigazione,
                studiare i loro movimenti e abitudini di consultazione del web o di consumo (cosa comprano, cosa leggono, ecc.),
                anche allo scopo di inviare pubblicità di servizi mirati e personalizzati. Si parla in questo caso di cookie di
                profilazione. L'utilizzo di detti cookie necessita dell'acquisizione preventiva del libero consenso informato
                dell'utente ai sensi dell'art. 7 del Regolamento UE 2016/679.</p>
            <p>&nbsp;</p>
            <p>Cookie di terze parti</p>
            <p>Può accadere anche che una pagina web contenga cookie provenienti da altri siti e contenuti in vari elementi
                ospitati sulla pagina stessa, come ad esempio banner pubblicitari, immagini, video, mappe o specifici link a
                pagine web di altri domini che risiedono su server diversi da quello sul quale si trova la pagina richiesta. In
                altre parole, questi cookie sono impostati direttamente da gestori di siti web o server diversi da questo sito
                web. Parliamo, in questi casi, dei cosiddetti cookie terze parti, che di solito sono utilizzati a fini di
                profilazione. L'utilizzo di questi cookie necessita dell'acquisizione preventiva del libero consenso informato
                dell'utente.</p>
            <p>&nbsp;</p>
            <p>Tipologie di cookie utilizzati dal nostro sito</p>
            <p>Le funzioni principali dei cookies installati da Smartlab di Matteo Corvino sono tecniche, vengono utilizzati per
                migliorare costantemente il Servizio, per l'autenticazione, per fini statistici, come il conteggio delle visite
                al sito. L'utilizzo di cookies è dunque strettamente finalizzato a facilitare le funzioni del server di durante
                la navigazione del Servizio.</p>
            <p>Il sito consente inoltre l'invio dei seguenti cookie di terze parti. Questi cookie non sono strumenti di nostra
                titolarità, per maggiori informazioni, pertanto, è possibile accedere all'informativa ed ai moduli di
                acquisizione del consenso delle terze parti, cliccando sui link riportati.</p>
            <p>Per migliorare il sito web e comprendere quali parti o elementi siano maggiormente apprezzati dagli utenti, sono
                utilizzati come strumento di analisi anonima e aggregata, i cookie di terza parte di Google Analytics. Questi
                cookie non sono strumenti di nostra titolarità, per maggiori informazioni, pertanto, è possibile consultare
                l'informativa fornita da Google.</p>
            <p>Le pagine del sito web incorporano al loro interno alcuni widget e pulsanti di condivisione di Facebook e Google
                Plus, per permettere all'utente di condividere i contenuti del sito web sui propri canali social, e di
                interagire con i nostri canali. Questi cookie non sono strumenti di nostra titolarità, ma sono creati
                rispettivamente da Facebook e Google nel momento in cui si utilizza il rispettivo widget o pulsante di
                condivisione. Per saperne di più visitare le seguenti pagine informative: Facebook e Google.</p>
            <p>Alcune pagine web incorporano al loro interno dei contenuti video di YouTube. Visitando una pagina contenente un
                video, o facendo clic per visualizzare il video, potrebbero essere richiamati cookie provenienti da YouTube.
                Questi cookie non sono strumenti di nostra titolarità. Per saperne di più visitare la pagina informativa di
                Google.</p>
            <p>Il sito internet potrebbe utilizzare i programmi di Facebook ADS gestito da Facebook Inc., Google Adwords e la
                tecnologia Google Remarketing, gestiti da Google Inc. Anche la funzione monitoraggio delle conversioni di
                Facebook ADS e AdWords utilizza i cookie per aiutarci a tenere traccia delle vendite e di altre conversioni.</p>
            <p>&nbsp;</p>
            <p>Gestione dei cookie</p>
            <p>L'utente può gestire le proprie preferenze relative ai cookie attraverso le funzionalità presenti nei comuni
                browser che consentono di cancellare/rimuovere i cookie (tutti o alcuni) o di</p>
            <p>cambiare le impostazioni del browser stesso in modo da bloccare l'invio dei cookie o di limitarlo a siti
                specifici (rispetto ad altri).</p>
            <p>Pertanto è possibile negare l'utilizzo dei cookie, seguendo la procedura di disabilitazione prevista dal proprio
                browser. Di seguito si riportano le modalità proposte dai principali browser: Microsoft Windows Explorer,
                Mozilla Firefox, Google Chrome, Apple Safari, Google Analytics scaricando uno specifico plug-in del browser.</p>
            <p>Per avere informazioni sui cookie archiviati sul proprio terminale e disattivarli singolarmente si rinvia al
                link: http://www.youronlinechoices.com/it/le-tue-scelte</p>
            <p>&nbsp;</p>
            <p>Plugin Social Network</p>
            <p>Il sito www.smartlabriparazioni.it incorpora anche plugin e/o comandi per i social network, al fine di consentire
                una facile condivisione dei contenuti sui vostri social network preferiti. Tali plugin sono programmati in modo
                da non impostare alcun cookie all'accesso della pagina, per salvaguardare la privacy degli utenti. Eventualmente
                i cookie vengono impostati, se così previsto dai social network, solo quando l'utente fa effettivo e volontario
                uso del plugin. Si tenga presente che se l'utente naviga essendo loggato nel social network allora ha già
                acconsentito all'uso dei cookie veicolati tramite questo sito al momento dell'iscrizione al social network.</p>
            <p>La raccolta e l'uso delle informazioni ottenute a mezzo del plugin sono regolati dalle rispettive informative
                privacy dei social network, alle quali si prega di fare riferimento.</p>
            <p>&nbsp;</p>
            <p>- Facebook - (link informativa cookie)<span style="font-family: 'Tahoma',sans-serif;"></span>- Twitter - (link
                informativa cookie)<span style="font-family: 'Tahoma',sans-serif;"></span>- LinkedIn - (link informativa
                cookie)<span style="font-family: 'Tahoma',sans-serif;"></span>- Google+ - (link informativa cookie).</p>
            <p>La presente privacy policy può subire modifiche nel tempo – anche connesse</p>
            <p>all'eventuale entrata in vigore di nuove normative di settore, all'aggiornamento o erogazione di nuovi servizi
                ovvero ad intervenute innovazioni tecnologiche – per cui l'utente/visitatore è invitato a consultare
                periodicamente la pagina www.smartlabriparazioni.it nella sezione privacy.</p>
        </div>
    </div>
</div>