.contactus{
    padding: 100px;
    z-index: 3;
    p{
        text-align: center;
    }
    button{
        --primary: #fff;
        margin: 50px;
     
   
    }
}
@media screen and (max-width:960px){
    .contactus{
        padding: 100px 30px;
        p{
            font-size: 1.5rem;
        }
}
}