/* You can add global styles to this file, and also import other style files */
// Variable overrides first
@import "@angular/material/prebuilt-themes/indigo-pink.css";
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
}

.r {
    border: 1px solid red;
    ;
}
.enter{
    opacity: 0;
    transform: translateY(-100px);
}
.text-anim{
    &:not(:has(.letter)){
        *{
            opacity:0;
        }
    }
    *{
        overflow: hidden;
    }
    .letter {
        display: inline-block;
        line-height: 3.3rem;
        margin: 0;
        transform: translateY(1.1rem);
        height: 3.6rem;
      }
      .letter:hover{
        transition: transform 0.1s;
        transform: translateY(-10px)!important;
      }
}
:root {
    --primary: #ef550b;
    --red: #a6d07d;
    --primary-darker: #111;
    --primary-text: #fff;
}

* {
    font-family: "Open Sans", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #ddd var(--primary);
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

:root::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.mat-button {
    color: #fff !important;
}

h6 {
    color: var(--primary);
}

h1 {
    font-size: 3.5rem;
    line-height: 3.3rem;
    font-weight: bold;
    margin: 1rem 0;
}

hr {
    border: 2px solid var(--primary-darker);
    background-color: var(--primary-darker);
}

.bg-r {
    background-color: #ed7b49 !important;
    color: #111 !important;
    border-radius: 10px;
}

.bg-g {
    background-color: #a6d07d;
    border-radius: 10px;
}

.button {
    position: relative;
    outline: none;
    height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    padding: 0 30px;
    min-width: 150px;
    font-size: 16px;
    border-color: transparent;
    box-shadow: 2px 2px 2px #0004;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 30px;
    fa-icon{
        margin-left: 10px;
    }
}

.btn-primary {
    background-color: var(--primary);
    color: var(--primary-text);
}

.btn-dark {
    background-color: var(--primary-darker);
    color: var(--primary-text);
}

.btn-xl {
    padding: 30px 60px;
    font-size: 20px;
}

.contact-btn {
    padding: 20px 50px;
    font-size: 15px;
}

.btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    height: 5px;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: var(--primary);
    transform: scaleX(0);
}

.btn:enabled:active {
    transform: scale(0.99);
    box-shadow: 0px 0px 0px #0000;
}

.btn:enabled:hover::after {
    transform: scaleX(1);
}

.btn:enabled:hover {
    background-color: rgb(82, 82, 199);
}

.width-20 {
    width: 20%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.sidenav {
    width: 300px;
    background-color: var(--primary) !important;
    color: var(--primary-text);
    display: flex;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin: 10px;
    }

    @keyframes active {
        to {
            transform: scaleX(1)
        }

        ;
    }

    .active::after {
        content: "";
        transform: scaleX(0);
        animation: active 0.3s forwards;
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: #eee;
        left: 0;
    }
}

.sidenav-content {
    max-height: 100svh;
    overflow: auto;
}

.scroll-watcher {
    width: 100%;
}

.main {
    margin: 0;
    position: relative;
    min-height: 100svh;
    width: 100%;
    color: var(--primary-darker);
    display: flex;
    flex-direction: column;
    .cover {
        position: sticky;
        top: 0;
        background-size: cover;
        background-position-y: -300px;
        user-select: none;
        width: 100%;
        height: 100svh;
        overflow: hidden;
        z-index: 0;
        background-color: #111;
        color: #fff;

        .title {
            position: absolute;
            top: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0009;

            .text-wrapper {
                max-width: 800px;
                margin: 2rem 0;
            }

            .action {
                .btn {
                    width: 300px;
                }
            }
        }
    }

    .content {
        z-index: 2;
        position: relative;
        margin: 0 0px 0 0px;
        border-radius: 15px 15px 0 0;
        box-shadow: 0px -5px 20px #0004;
        padding: 100px 20px 200px 20px;
        min-height: 100svh;
        max-width: 100%;
        overflow-x: hidden;
        background-color: var(--primary);

        .text {
            font-size: 16px;
            padding: 20px;
        }

        .title {
            padding: 100px 0;
        }

        .section {
            min-height: 90vh;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 200px;
            color: var(--primary-darker);

            .h1 {
                font-size: 4rem;
            }

            .action {
                margin-top: 30px;

                .btn {
                    width: 250px;
                }
            }
        }

    }

    .out {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@media screen and (max-width:960px) {
    :root {
        font-size: 12px;
    }

    .main {
        .cover {
            background-position-y: 0px;
            background-position-x: -220px;

            .title {
                padding: 0 20px;

                .text-wrapper {

                    h6,
                    h4 {
                        font-size: 1.5rem;
                    }

                    h1 {}
                }
            }
        }

        .content {
            padding: 40px 20px;

            .section {
                padding: 5px;

                .action {
                    margin-top: 30px;

                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
