<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4" >
        <h2>Orari</h2>
        <app-status></app-status>
        <div class="orario-settimanale" *ngIf="orari">
            <div *ngFor="let orario of orari" class="giorno"
                [class.today]="orario.giorno_settimana.substring(0,3).toLocaleLowerCase() === today">
                <div class="giorno-nome">{{ orario.giorno_settimana | abbrevia }} <span
                    *ngIf="orario.giorno_settimana.substring(0,3).toLocaleLowerCase() === today">(Oggi)</span>:
                </div>
                <div class="giorno-orari" *ngIf="orario.aperto; else chiuso">
                    <span *ngIf="orario.apertura_mattina && orario.chiusura_mattina">
                        {{ orario.apertura_mattina.substring(0,5) }} - {{ orario.chiusura_mattina.substring(0,5) }}<span
                            *ngIf="orario.chiusura_pomeriggio"> /</span>
                    </span>
                    <span *ngIf="!orario.chiusura_mattina && orario.apertura_mattina">
                        {{ orario.apertura_mattina.substring(0,5) }} -
                    </span>
                    <span *ngIf="orario.apertura_pomeriggio && orario.chiusura_pomeriggio">
                        {{ orario.apertura_pomeriggio.substring(0,5) }} - {{ orario.chiusura_pomeriggio.substring(0,5)
                        }}
                    </span>
                    <span *ngIf="!orario.apertura_pomeriggio && orario.chiusura_pomeriggio">
                        {{ orario.chiusura_pomeriggio.substring(0,5) }}
                    </span>
                </div>
                <ng-template #chiuso>
                    <div class="chiuso">Chiuso</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>