h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.orario-settimanale{
    display: block;
    justify-content: center;
    font-size: 0.75rem;
    padding: 30px 0;
    .giorno{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff4;
        transition: background-color 0.3s;
        padding: 2px;
        .giorno-nome{
            min-width: 50px;
        }
    }
    .today{
        font-weight: bold;
        background-color: var(--primary);
        color: #fff;
    }
    .giorno:hover{
        background-color: #fff2;
        cursor: default;
    }
}

@media screen and (max-width:956px) {

}